HOST=localhost
PORT=3000
APP_PREFIX=api

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
POSTGRES_DATABASE=mydatabase

SQLITE_DATABASE=mydatabase.db

JWT_SECRET=jwt_secret

MULTER_IMAGE_PATH=.temp/images
